@inherits UmbracoTemplatePage<MenuSchedule>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    string[] days = {"Monday", "Tuesday" , "Wednesday", "Thursday", "Friday"};
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

@*<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">*@
<link rel="stylesheet" href="@Url.Content("~/css/schedule.css")">
<body>
    <div class="cd-schedule loading">
        <div class="timeline">
            <ul>
                <li><span>09:00</span></li>
                <li><span>09:30</span></li>
                <li><span>10:00</span></li>
                <li><span>10:30</span></li>
                <li><span>11:00</span></li>
                <li><span>11:30</span></li>
                <li><span>12:00</span></li>
                <li><span>12:30</span></li>
                <li><span>13:00</span></li>
                <li><span>13:30</span></li>
                <li><span>14:00</span></li>
                <li><span>14:30</span></li>
                <li><span>15:00</span></li>
                <li><span>15:30</span></li>
                <li><span>16:00</span></li>
                <li><span>16:30</span></li>
                <li><span>17:00</span></li>
                <li><span>17:30</span></li>
                <li><span>18:00</span></li>
            </ul>
        </div> <!-- .timeline -->
        <div class="events">
            <ul>
                @foreach(var day in days)
                {
                    <li class="events-group">
                        <div class="top-info"><span>@day</span></div>
                        <ul>
                            @foreach (var menuItem in CurrentPage.Children)
                            {
                            if (menuItem.WeekDay != day){continue;}
                            <li class="single-event"
                                data-start="@menuItem.StartTime"
                                data-end="@menuItem.EndTime"
                                data-content="@menuItem.Url"
                                data-event="event-1">
                                <a href="#0">
                                    <em class="event-name">@menuItem.Description</em>
                                    <em>@menuItem.WeekDay</em>
                                </a>
                            </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
                </div>
                <div class="event-modal">
                    <header class="header">
                        <div class="content">
                            <span class="event-date"></span>
                            <h3 class="event-name"></h3>
                        </div>
                        <div class="header-bg"></div>
                    </header>
                    <div class="body">
                        <div class="event-info"></div>
                        <div class="body-bg"></div>
                    </div>
                    <a href="#0" class="close">Close</a>
                </div>
                <div class="cover-layer"></div>
            </div> <!-- .cd-schedule -->
            <script src="@Url.Content("~/scripts/modernizr.js")"></script>
            <script src="@Url.Content("~/scripts/jquery-3.0.0.min.js")"></script>
            <script>
                if (!window.jQuery) document.write('<script src="@Url.Content("~/scripts/jquery-3.0.0.min.js")"><\/script>');
            </script>
            <script src="@Url.Content("~/scripts/main.js")"></script> <!-- Resource jQuery -->
        </body>